extends ../layout

block content
    h1 Edit Product
    form(action="/products/edit/"+product._id,method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text", class="form-control", name="name", value=product.name)
        .form-group
            label(for="id") Course ID
            input#price(type="text", class="form-control", name="id", value=product.id)
        .form-group
            label(for="duration") Course Duration(Hrs)
            input#price(type="text", class="form-control", name="duration", value=product.duration)
        .form-group
            label(for="fee") Course Fee
            input#price(type="text", class="form-control", name="fee", value=product.fee)
        input(type="submit", class="btn btn-info")
    